<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>National Parks</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}"/>
</head>

<body>
    <p style="margin-left: 50px;">
        {{data["Yosemite"]["park_name"]}}
        {{data["Yosemite"]["park_code"]}}
    </p>
    <p style="margin-left: 50px;">
        {% for i in data["parks"] %}
        {{data[i]["park_name"]}}
        {{data[i]["park_code"]}}
        {% endfor %}
    </p>
</body>

</html>